 <div class="nav">
    <div id="title">Cocktailmania</div>
    <div><%= link_to "Add Cocktail", new_cocktail_path(@cocktail), id: 'new_cocktail'  %></div>
    <div id="icon"><%= cl_image_tag("icon_mamfrc", :height => 80) %></div>
 </div>
 <div class="container">
  <h1 style="color: #F60074; text-align: center">Cocktails</h1>

  <div class=" cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card">
        <%= link_to cocktail.name, cocktail_path(cocktail), id: "links" %>
        <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe , cocktail_path(cocktail), method: :delete, id: "trash" %>
      </div>
    <% end %>

  </div>
</div>


