.nav{
  height: 70px;
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title{
  horizontal-align: center;
  left: 100px;
  top: 25px;
  font-size: 30px;
  font-family: URW Chancery L;
}

#new_cocktail{
  color: white;
  text-decoration: none;
  background-color: #F60074;
  padding: 10px 20px;
  border-radius: 20px;
  font: bolder;
  text-align: right;
  margin-right: 20px;

}

#icon{
  // background-color: transparent;
  // height: 80px;
  // position: absolute;
  top: 5px;
  left: 30px;
  margin-left: 20px;

}

