// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit{
  color: #F60074;
  text-decoration: none;
}

.new_form {
  width: 70%;
  background-color: none;
}

#pictures{
  border-radius: 5px;
}
